---
import AgencyPresentation, { PresentationProps } from '../../components/AgencyPresentation.astro';

import TypingTitle from '../../components/TypingTitle.astro';
import Layout from '../../layouts/Layout.astro';
import Photo from '../../assets/1743-Joey-Joe-Ann-Knoester-1.webp';
import AgencySteps, { AgencyStepsProps } from '../../components/AgencySteps.astro';
import AgencyOneService, { OneService } from '../../components/AgencyOneService.astro';
import AgencyContactForm from '../../components/AgencyContactForm.astro';

const color = '#dcbf7e';
const presentation: PresentationProps = {
    photo: Photo,
    color: color,
    credit: {
        name: '©JJAKPHOTOGRAPHIE',
        url: 'https://joeyjoe-annknoester.com/',
    },
    title: 'CONSEIL & SUIVI',
    alt: 'Photo de Lucie avec une tablette',
    description: [
        'Un accompagnement exclusif passe avant tout par le conseil. Lors de nos premiers échanges, nous aborderons les démarches à suivre pour votre futur projet de communication. l’Agence vous aiguillera vers la stratégie la plus adpatée pour atteindre vos objectifs.',
        'Lorsqu’un projet de communication est lancé, l’importance du suivi sera primordiale pour sa durabilité.',
    ],
};

const oneService: OneService = {
    color: color,
    number: '05',
    title: 'CONSEIL & SUIVI',
    subtitle: 'une stratégie efficace...',
    description: ['gestion de projet | suivi personnalisé | formation'],
    benefits: [
        {
            title: 'CONSEILS ADAPTÉS',
            description: [
                'Lors de nos échanges, l’Agence vous accompagnera pour définir un plan pertinent afin de donner de la visibilité à votre activité. Elle vous guidera dans des choix adaptés pour atteindre vos objectifs.',
            ],
        },
        {
            title: 'SUIVI PERSONNALISÉ',
            description: [
                'Un projet de communication construit se doit d’être suivi. C’est pourquoi Jolilot se rendra disponible pour réaliser le suivi de votre projet vous permettant de garder une communication des plus efficaces.',
            ],
        },
    ],
};

const textColor = '#4a4a49';

const Steps: AgencyStepsProps = {
    titleColor: textColor,
    bgColor: color,
    services: [
        {
            title: 'ÉCHANGE / DEVIS',
            buttonLink: '/services/supports-imprimes',
            description: [
                `Suite à un premier échange par téléphone, 
      à l’agence ou sur le lieu de votre activité, 
      pour en connaître un peu plus sur vos besoins,
       vos intentions et/ou vos idées, 
       Jolilot s’engace à vous retourner
        sous 48H une proposition entièrement adaptée et personnalisée.`,
            ],
            number: '01',
            subtitle: 'nous nous rencontrons...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'AXE DE CRÉATION',
            buttonLink: '/services/supports-imprimes',
            description: [
                'Nous débuterons par approfondir les objectifs de votre projet afin d’obtenir d’un axe pertinent et concret',
                'En découlera, notre échange sur l’axe de création : sur lequel l’agence devra s’appuyer pour la suite des étapes créatives.',
            ],
            number: '02',
            subtitle: 'nous analysons vos besoins...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'CRÉATION / PRÉSENTATION',
            buttonLink: '/services/supports-imprimes',
            description: [
                'La ou les propositions retenues sur toutes les recherches effectuées par l’Agence vous sera/ont présentés(s)',
                'En fonction de votre retour, la proposition que vous aurez choisie pourra être affinée.',
            ],
            number: '03',
            subtitle: 'nous affinons les créations...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'LANCEMENT / SUIVI',
            buttonLink: '/services/supports-imprimes',
            description: [
                'Une fois le projet de création validé et clôturé, nous procéderons à son lancement.',
                'En fonction de votre projet, Jolilot vous propose une formation personnalisée vous permettant d’être en confiance avec vos nouveaux outils de communication',
            ],
            number: '04',
            subtitle: 'et hop ! nous lançons...',
            color: '#fff',
            textColor: '#fff',
        },
    ],
};
---

<Layout>
    <main>
        <TypingTitle />
        <AgencyPresentation {...presentation} />
        <AgencyOneService oneService={oneService} />
        <AgencySteps {...Steps} />
        <AgencyContactForm />
    </main>
</Layout>
