---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Conseil & Suivi">
  <main>
    <div class="flex h-72 w-full items-center justify-center px-8">
      <div
        class="font-larken md:text-3xl text-xl font-light text-center flex flex-col flex-wrap gap-y-4 justify-center"
      >
        <p>Maintenance en cours</p>
        <p class="text-2xl">Merci de votre compréhension</p>
        <a href="/" class="text-blue-500 hover:underline">Retour à l'accueil</a>
      </div>
    </div>
  </main>
</Layout>
