---
import AgencyPresentation, { PresentationProps } from '../../components/AgencyPresentation.astro';

import TypingTitle from '../../components/TypingTitle.astro';
import Layout from '../../layouts/Layout.astro';
import Photo from '../../assets/Photo.webp';
import AgencySteps, { AgencyStepsProps } from '../../components/AgencySteps.astro';
import AgencyOneService, { OneService } from '../../components/AgencyOneService.astro';
import AgencyContactForm from '../../components/AgencyContactForm.astro';

const color = '#97ada0';
const presentation: PresentationProps = {
    photo: Photo,
    color: color,
    title: 'IDENTITÉ DE MARQUE',
    alt: 'Photo de presentation du site (un pot de fleur avec de la decoration)',
    description: [
        'L’identité de marque sera l’assise de votre stratégie de communication.',
        'Elle aura pour objectif de transmettre à travers l’esthetisme et la cohérence des éléments créés, vos valeurs et votre identité.',
        'Une identité visuelle alignée vous permettra de de créer un impact auprès de votre cible.',
    ],
};

const oneService: OneService = {
    color: color,
    number: '03',
    title: 'IDENTITÉ DE MARQUE',
    subtitle: 'une idéntité qui vous ressemble...',
    description: ['logo vectoriel | charte graphique refonte identité visuelle'],
    benefits: [
        {
            title: 'CRÉATION IDENTITÉ VISUELLE',
            description: [
                'Étant l’assise de votre communication, une identité visuelle se doit d’étre construire et rechercher. Pour refléter votre savoir-faire et vos valeurs, il est important que cet outil soit créatif, et unique. C’est par cette démarche que la différenciation se fera.',
            ],
        },
        {
            title: 'REFONTE IDENTITÉ VISUELLE',
            description: [
                'Vous possédez déjà une identité visuelle, mais vous souhiatez vous démarquer par de la nouveauté pour atteindre vos nouveaux objectifs ?',
                'Jolilot réalisé la refonte de votre identité visuelle dans un axe créatif et statégique.',
            ],
        },
        {
            title: 'CRÉATION & REFONTE LOGOTYPE',
            description: [
                'Vous souhaitez réaliser un logotype pour représenter votre domaine d’activité et l’utiliser sur des outils de communication bien précis.',
                'L’Agence vous accompagne dans la création de celui-ci ou la refonte si vous en possédez dejà un.',
            ],
        },
    ],
};

const textColor = '#4a4a49';

const Steps: AgencyStepsProps = {
    titleColor: textColor,
    bgColor: color,
    services: [
        {
            title: 'ÉCHANGE / DEVIS',
            buttonLink: '/services/supports-imprimes',
            description: [
                `Suite à un premier échange par téléphone, 
      à l’agence ou sur le lieu de votre activité, 
      pour en connaître un peu plus sur vos besoins,
       vos intentions et/ou vos idées, 
       Jolilot s’engace à vous retourner
        sous 48H une proposition entièrement adaptée et personnalisée.`,
            ],
            number: '01',
            subtitle: 'nous nous rencontrons...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'AXE DE CRÉATION',
            buttonLink: '/services/supports-imprimes',
            description: [
                'Nous débuterons par approfondir les objectifs de votre projet afin d’obtenir d’un axe pertinent et concret',
                'En découlera, notre échange sur l’axe de création : sur lequel l’agence devra s’appuyer pour la suite des étapes créatives.',
            ],
            number: '02',
            subtitle: 'nous analysons vos besoins...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'CRÉATION / PRÉSENTATION',
            buttonLink: '/services/supports-imprimes',
            description: [
                'La ou les propositions retenues sur toutes les recherches effectuées par l’Agence vous sera/ont présentés(s)',
                'En fonction de votre retour, la proposition que vous aurez choisie pourra être affinée.',
            ],
            number: '03',
            subtitle: 'nous affinons les créations...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'LANCEMENT / SUIVI',
            buttonLink: '/services/supports-imprimes',
            description: [
                'Une fois le projet de création validé et clôturé, nous procéderons à son lancement.',
                'En fonction de votre projet, Jolilot vous propose une formation personnalisée vous permettant d’être en confiance avec vos nouveaux outils de communication',
            ],
            number: '04',
            subtitle: 'et hop ! nous lançons...',
            color: '#fff',
            textColor: '#fff',
        },
    ],
};
---

<Layout>
    <main>
        <TypingTitle />
        <AgencyPresentation {...presentation} />
        <AgencyOneService oneService={oneService} />
        <AgencySteps {...Steps} />
        <AgencyContactForm />
    </main>
</Layout>
