---
import AgencyPresentation, { PresentationProps } from '../../components/AgencyPresentation.astro';

import TypingTitle from '../../components/TypingTitle.astro';
import Layout from '../../layouts/Layout.astro';
import Photo from '../../assets/Photo.webp';
import AgencySteps, { AgencyStepsProps } from '../../components/AgencySteps.astro';
import AgencyOneService, { OneService } from '../../components/AgencyOneService.astro';
import AgencyContactForm from '../../components/AgencyContactForm.astro';

const color = '#9cb6be';
const presentation: PresentationProps = {
    photo: Photo,
    color: color,
    title: 'SUPPORTS IMPRIMÉS',
    alt: 'Photo de presentation du site (un pot de fleur avec de la decoration)',
    description: [
        'Les supports imprimés ont pour rôle d’attirer l’attention des personnes ciblées.',
        'En fonction de votre activité, de vos besoins, et de vos objectifs, les supports print sont à choisir avec intéret et stratégie.',
        'En passant par l’univers de la papeterie, de la signalétique, du packaging mais aussi tout type de marquage, Jolilot vous accompagnera dans le choix et la conception de ces outils.',
    ],
};

const oneService: OneService = {
    color: color,
    number: '01',
    title: 'SUPPORTS IMPRIMÉS',
    subtitle: 'des supports imprimés...',
    description: [
        'papeterie | étiquettes | packaging | enseigne | signalétique | marquage vehicule & vitrine | documents professionnels | goodies',
    ],
    benefits: [
        {
            title: 'UNIVERS PAPETERIE',
            description: [
                'En passant par les cartes de visite, les dépliants, les brochures, les affiches, les cartes de vœux ou autre, l’Agence vous accompagnera pour donner vie à vos idées, vos produits et services, à travers ces différents outils de communication.',
            ],
        },
        {
            title: 'SIGNALÉTIQUE / ENSEIGNE',
            description: [
                'En fonction de vos besoins, Jolilot vous aidera à donner de la nouveauté à votre signalétique ou votre enseigne.',
            ],
        },
        {
            title: 'MARQUAGE VITRINE / VEHICULE',
            description: [
                'Suivant la nature de votre activité, le marquage de votre vitrine ou celui de votre véhicule peutêtre indispensable dans votre communication.',
                'C’est pourquoi Jolilot vous propose ce service afin d’adapté au mieux votre projet',
            ],
        },
        {
            title: 'ETIQUETTE / PACKAGING',
            description: [
                'Un bon packaging se doit d’être travaillé et attrayant.',

                'Il doit refléter votre identité, vos valeurs, et vous aider à mettre en avant vos produits.',
            ],
        },
    ],
};

const textColor = '#4a4a49';

const Steps: AgencyStepsProps = {
    titleColor: textColor,
    bgColor: color,
    services: [
        {
            title: 'ÉCHANGE / DEVIS',
            buttonLink: '/services/supports-imprimes',
            description: [
                `Suite à un premier échange par téléphone, 
      à l’agence ou sur le lieu de votre activité, 
      pour en connaître un peu plus sur vos besoins,
       vos intentions et/ou vos idées, 
       Jolilot s’engace à vous retourner
        sous 48H une proposition entièrement adaptée et personnalisée.`,
            ],
            number: '01',
            subtitle: 'nous nous rencontrons...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'AXE DE CRÉATION',
            buttonLink: '/services/supports-imprimes',
            description: [
                'Nous débuterons par approfondir les objectifs de votre projet afin d’obtenir d’un axe pertinent et concret',
                'En découlera, notre échange sur l’axe de création : sur lequel l’agence devra s’appuyer pour la suite des étapes créatives.',
            ],
            number: '02',
            subtitle: 'nous analysons vos besoins...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'CRÉATION / PRÉSENTATION',
            buttonLink: '/services/supports-imprimes',
            description: [
                'La ou les propositions retenues sur toutes les recherches effectuées par l’Agence vous sera/ont présentés(s)',
                'En fonction de votre retour, la proposition que vous aurez choisie pourra être affinée.',
            ],
            number: '03',
            subtitle: 'nous affinons les créations...',
            textColor: textColor,
            color: textColor,
        },
        {
            title: 'LANCEMENT / SUIVI',
            buttonLink: '/services/supports-imprimes',
            description: [
                'Une fois le projet de création validé et clôturé, nous procéderons à son lancement.',
                'En fonction de votre projet, Jolilot vous propose une formation personnalisée vous permettant d’être en confiance avec vos nouveaux outils de communication',
            ],
            number: '04',
            subtitle: 'et hop ! nous lançons...',
            color: '#fff',
            textColor: '#fff',
        },
        {
            title: 'ENFIN !',
            buttonLink: '/services/supports-imprimes',
            description: [
                'Une fois le projet de création validé et clôturé, nous procéderons à son lancement.',
                'En fonction de votre projet, Jolilot vous propose une formation personnalisée vous permettant d’être en confiance avec vos nouveaux outils de communication',
            ],
            number: '04',
            subtitle: 'et hop ! nous lançons...',
            color: 'yellow',
            textColor: 'yellow',
        },
    ],
};
---

<Layout>
    <main>
        <TypingTitle />
        <AgencyPresentation {...presentation} />
        <AgencyOneService oneService={oneService} />
        <AgencySteps {...Steps} />
        <AgencyContactForm />
    </main>
</Layout>
