---
import AgencyPresentation, { type PresentationProps } from '../../components/AgencyPresentation.astro';

import TypingTitle from '../../components/TypingTitle.astro';
import Layout from '../../layouts/Layout.astro';
import Photo from '@assets/P.IMPPRIMÉS/Brochure Professionnelle-min.jpg';
import AgencySteps, { type AgencyStepsProps } from '../../components/AgencySteps.astro';
import AgencyOneService, { type OneService } from '../../components/AgencyOneService.astro';
import AgencyContactForm from '../../components/AgencyContactForm.astro';
import PhotosCarrousel from '../../components/PhotosCarrousel.astro';

const color = '#9cb6be';
const presentation: PresentationProps = {
  photo: Photo,
  color: color,
  title: 'SUPPORTS IMPRIMÉS',
  alt: 'Photo de presentation des supports imprimés avec un livret de recette fruisec',
  description: [
    'Les supports imprimés jouent un rôle primordial dans la captation de l’attention de votre audience ciblée.',
    'En alignant vos besoins, activité et objectifs, le choix des supports print doit être mûrement réfléchi et stratégique.',
    'Englobant l’univers de la papeterie, la signalétique, les emballages ainsi que diverses méthodes de marquage, Jolilot vous orientera et élaborera ces outils de manière optimale.',
  ],
};

const oneService: OneService = {
  color: color,
  number: '01',
  title: 'SUPPORTS IMPRIMÉS',
  subtitle: 'des supports imprimés...',
  description: [
    'papeterie | étiquettes | packaging | enseigne | signalétique | marquage vehicule & vitrine | documents professionnels | goodies',
  ],
  benefits: [
    {
      title: 'UNIVERS PAPETERIE',
      description: [
        'Des cartes de visite aux dépliants, en passant par les brochures, les affiches, les cartes de vœux et bien d’autres encore, Jolilot sera à vos côtés pour concrétiser vos concepts, promouvoir vos produits et services à travers ces différents outils de communication.',
      ],
      time: '1 à 4 semaines',
    },
    {
      title: 'SIGNALÉTIQUE / ENSEIGNE',
      description: [
        'En harmonie avec vos exigences, Jolilot vous assistera pour insuffler de la fraîcheur à votre signalétique ou à votre enseigne.',
      ],
      time: '2 à 5 semaines',
    },
    {
      title: 'MARQUAGE VITRINE / VEHICULE',
      description: [
        'Suivant la nature de votre activité, l’identification visuelle de votre vitrine ou de votre véhicule peut s’avérer essentielle dans votre stratégie de communication.',
        'C’est précisément pour cette raison que Jolilot met à votre disposition ce service, visant à personnaliser au mieux votre projet.',
      ],
      time: '1 à 3 semaines',
    },
    {
      title: 'ETIQUETTE / PACKAGING',
      description: [
        'Un packaging de qualité requiert une conception soignée et attrayante',
        'Il doit être le reflet fidèle de votre identité et de vos valeurs, tout en jouant un rôle crucial pour mettre en évidence vos produits.',
      ],
      time: '1 à 2 mois',
    },
    {
      title: 'GESTION D’IMPRESSION',
      description: [
        'Dans une démarche axée sur le circuit court, l’Agence Jolilot a opté pour une approche collaborative directe avec des imprimeurs locaux qui garantissent des impressions de haute qualité et ayant une attention minutieuse aux finitions.',
      ],
    },
  ],
};

const textColor = '#4a4a49';

const Steps: AgencyStepsProps = {
  titleColor: textColor,
  bgColor: color,
  services: [
    {
      title: 'ÉCHANGE / DEVIS',
      description: [
        "Après une première consultation par téléphone, à l'agence ou sur le site de votre activité, visant à mieux appréhender vos besoins, vos objectifs et/ou vos concepts, Jolilot s'engage à vous forunir une proposition sur mesure et entièrement personnalisée dans un délai de 72 heures.",
      ],
      number: '01',
      subtitle: 'nous nous rencontrons...',
      textColor: textColor,
      color: textColor,
    },
    {
      title: 'AXE DE CRÉATION',
      description: [
        'Nous débuterons par une analyse approfondie des objectifs inhérents à votre projet, dans le but de définir une orientation pertinente et concrète.',
        "En découlera, notre échange sur l'axe de création: un point de départ sur lequel l'agence se basera pour la suite des étapes créatives.",
      ],
      number: '02',
      subtitle: 'nous analysons vos besoins...',
      textColor: textColor,
      color: textColor,
    },
    {
      title: 'CRÉATION / PRÉSENTATION',
      description: [
        "Selon la nature de votre projet, la ou les propositions résultantes de l'ensemble des recherches menées par l'agence vous sera/ont présentée/s.",
        'Selon vos retours, des ajustements pourront être apportés à ces créations.',
      ],
      number: '03',
      subtitle: 'nous affinons les créations...',
      textColor: textColor,
      color: textColor,
    },
    {
      title: 'IMPRESSION / LIVRAISON',
      description: [
        'Après avoir approuvé et finalisé le projet de création, nous passerons à sa phase de lancement.',
        'Pour tout projet d’impression, l’Agence vous accompagnera jusqu’à la livraison des supports.',
      ],
      number: '04',
      subtitle: 'et hop ! nous lançons...',
      color: '#fff',
      textColor: '#fff',
    },
  ],
};

import Photo1 from '@assets/P.IMPPRIMÉS/Affiche-min.jpg';
import Photo2 from '@assets/P.IMPPRIMÉS/Carte de Visite-min.jpg';
import Photo3 from '@assets/P.IMPPRIMÉS/Dépliant-min.jpg';
import Photo4 from '@assets/P.IMPPRIMÉS/Livre Recettes-min.jpg';
import Photo5 from '@assets/P.IMPPRIMÉS/Mise en Page-min.jpg';
import Photo6 from '@assets/P.IMPPRIMÉS/Signalétique-min.jpg';
import Photo7 from '@assets/P.IMPPRIMÉS/Brochure Professionnelle-min.jpg';
import AgencyContactUs from '@components/AgencyContactUs.astro';
const PhotoCarrousel = [
  {
    image: Photo1,
    alt: 'Photo 1 instagram',
  },
  {
    image: Photo2,
    alt: 'Photo 2 instagram',
  },
  {
    image: Photo3,
    alt: 'Photo 3 instagram',
  },
  {
    image: Photo4,
    alt: 'Photo 4 instagram',
  },
  {
    image: Photo5,
    alt: 'Photo 5 instagram',
  },
  {
    image: Photo6,
    alt: 'Photo 6 instagram',
  },
  {
    image: Photo7,
    alt: 'Photo 7 instagram',
  },
];
---

<Layout>
  <main>
    <TypingTitle text="des solutions visuelles pour\f tous vos objectifs" />
    <AgencyPresentation {...presentation} />
    <AgencyOneService oneService={oneService} />
    <AgencySteps {...Steps} />
    <PhotosCarrousel photos={PhotoCarrousel} />
    <AgencyContactUs />
  </main>
</Layout>
