---
import Main from "@/layouts/main.astro";
---

<Main title="Hello, Astro!">
  <h1>Support Web</h1>
  <div class="min-h-screen bg-gray-100 flex items-center justify-center">
    test
  </div>
</Main>
