---
import AgencyClientsNumber from '../components/AgencyClientsNumber.astro';
import AgencyPresentation, { Props } from '../components/AgencyPresentation.astro';
import TypingTitle from '../components/TypingTitle.astro';
import Layout from '../layouts/Layout.astro';
import PhotoClientsNumber from '../assets/JOLILOT-21.webp';
import PhotoPresentation from '../assets/JOLILOT-58.webp';
import AgencyLocation from '../components/AgencyLocation.astro';
import AgencySteps from '../components/AgencySteps.astro';

const presentation: Props = {
    photo: PhotoPresentation,
    alt: "Photo de Lucie souriante avec un mac a coté d'elle",
    description: [
        'Je suis Lucie, graphiste indépendante spécialisée dans le print et le digital. ',
        'Grâce au dynamisme et à la richesse du territoire lotois, c’est tout naturellement que j’ai souhaité installer l’agence, dans le nord du département, afin d’accompagner au mieux les acteurs qui y contribuent.',
        'Ma passion pour ce métier me permet de donner vie à leurs idées à travers des outils de communication adaptés et entièrement personnalisés.',
    ],
    buttons: [
        {
            text: 'Graphiste',
            url: '/contact#contact-form',
            variant: 'orange',
        },
        {
            text: 'Designer Web',
            url: '/contact#contact-form',
            variant: 'light',
        },
    ],
};
---

<Layout>
    <main>
        <TypingTitle />
        <AgencyPresentation {...presentation} />
        <AgencyLocation />
        <AgencySteps />
        <AgencyClientsNumber photo={PhotoClientsNumber} />
    </main>
</Layout>
