---
import Main from "@/layouts/main.astro";
// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main title="Hello, Astro!">
  <h1>Hello, Astro test!</h1>
  <a href="/">Test</a>
</Main>
