---
import AgencyPresentation, { type Props } from '../components/AgencyPresentation.astro';
import TypingTitle from '../components/TypingTitle.astro';
import Layout from '../layouts/Layout.astro';
import Photo from '../assets/P.CONTACT/Illustration-min.jpg';
import AgencyContactForm from '../components/AgencyContactForm.astro';
import AgencyClientsNumber from '@components/AgencyClientsNumber.astro';

const presentation: Props = {
  photo: Photo,
  alt: 'Photo avec 2 brebis devant une cabane en pierre',
  description: [
    'Vous désirez obtenir un devis, fixer un rendez-vous ou tout simplement discuter d’un projet ?',
    'N’hésitez pas à compléter le formulaire de contact affiché cidessous. L’Agence vous répondra en moins de 72 heures.',
    'Au plaisir d’échanger avec vous !',
  ],
};
---

<Layout title="Contact">
  <main>
    <TypingTitle text="donnons vie à vos idées" />
    <AgencyPresentation {...presentation} />
    <AgencyContactForm />
    <AgencyClientsNumber variant="dark" zone="bottom" />
  </main>
</Layout>
