---
import AgencyPresentation, { Props } from '../components/AgencyPresentation.astro';
import TypingTitle from '../components/TypingTitle.astro';
import Layout from '../layouts/Layout.astro';
import Photo from '../assets/JOLILOT-47.webp';
import AgencyContactForm from '../components/AgencyContactForm.astro';

const presentation: Props = {
    photo: Photo,
    credit: {
        name: '©2023JulieAlasset',
        url: 'https://www.thewildthings.fr/',
    },
    alt: 'Photo de presentation du site (un pot de fleur avec de la decoration)',
    description: [
        'Je suis Lucie, graphiste indépendante spécialisée dans le print et le digital. ',
        'Grâce au dynamisme et à la richesse du territoire lotois, c’est tout naturellement que j’ai souhaité installer l’agence, dans le nord du département, afin d’accompagner au mieux les acteurs qui y contribuent.',
        'Ma passion pour ce métier me permet de donner vie à leurs idées à travers des outils de communication adaptés et entièrement personnalisés.',
    ],
    buttons: [
        {
            text: 'Graphiste',
            url: '/contact#contact-form',
            variant: 'orange',
        },
        {
            text: 'Designer Web',
            url: '/contact#contact-form',
            variant: 'light',
        },
    ],
};
---

<Layout>
    <main>
        <TypingTitle />
        <AgencyPresentation {...presentation} />
        <AgencyContactForm />
    </main>
</Layout>
