---
import AgencyClientsNumber from '../components/AgencyClientsNumber.astro';
import AgencyLastProjects from '../components/AgencyLastProjects.astro';
import AgencyPresentation from '../components/AgencyPresentation.astro';
import AgencyServices from '../components/AgencyServices.astro';
import TypingTitle from '../components/TypingTitle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <TypingTitle />
    <AgencyPresentation />
    <AgencyServices />
    <AgencyClientsNumber />
    <AgencyLastProjects />
  </main>
</Layout>
