---
import type { HTMLAttributes } from 'astro/types';

type InputProps = {
    label: string;
} & HTMLAttributes<'input'>;
export type Props = InputProps;
const { label, ...props } = Astro.props;
---

<div class="flex flex-col gap-1">
    <label class="font-medium">{label}</label>
    <input class="w-full border-b rounded-none border-black/30 bg-inherit focus:outline-none pl-4 py-2" {...props} />
</div>
