---
import OneService, { Service } from './subcomponents/OneService.astro';
import SubTitle from './subcomponents/SubTitle.astro';

export type Props = AgencyStepsProps;

export type AgencyStepsProps = {
  bgColor?: string;
  services: Service[];
  titleColor?: string;
};

const { bgColor, services, titleColor } = Astro.props;
---

<div
  class="bg-marron_fonce text-white py-20 flex flex-col gap-y-14"
  style={{
    backgroundColor: bgColor,
    color: titleColor,
  }}
>
  <SubTitle title="jolilot c’est aussi simple que ça !" />
  <div class="relative flex w-full flex-col items-center">
    <div class="grid w-full max-w-[1800px] grid-cols-1 gap-x-16 gap-y-24 px-10 md:px-20 md:grid-cols-2 xl:grid-cols-4">
      {services.map((service) => <OneService {...service} />)}
    </div>
  </div>
</div>

<style>
  .text-orange {
    color: #cc9f5c;
  }
</style>

<script>
  const textOrange = document.querySelectorAll('#text-orange');

  //color first text in orange and then the others in white then after 1s, color the first in white and the second in orange and so on
  let i = 0;
  setInterval(() => {
    if (!textOrange[i]) return;
    textOrange[i].classList.remove('text-orange');
    i++;
    if (i === textOrange.length) {
      i = 0;
    }
    textOrange[i].classList.add('text-orange');
  }, 1000);
</script>
