---
import { Image } from '@astrojs/image/components';

import PhotoTelephone from '../assets/JOLILOT-69.jpg';
import PhotoAgence from '../assets/JOLILOT-1 copie.jpg';
import FranceIcon from './Icons/FranceIcon.astro';
import Button from './subcomponents/Button.astro';
---

<div class="flex justify-center items-center py-32">
    <div class="flex justify-evenly items-center max-lg:flex-col gap-y-12">
        <div class="px-14 flex flex-col gap-5 max-w-[650px]">
            <div class="flex flex-col gap-2">
                <p class="font-larken text-3xl">où se trouve l’agence ?</p>
                <p>JOLILOT ATELIER | AGENCE DE COMMUNICATION</p>
            </div>
            <div class="text-sm flex flex-col gap-6">
                <p>L’agence Jolilot se situe dans un petit village <br /> au coeur des Causses du Quercy.</p>
                <div class="flex flex-col gap-2">
                    <p>Village : Alvignac-Les-Eaux</p>
                    <p>Département : Lot (46)</p>
                    <p>Région : Occitanie</p>
                </div>
            </div>
            <div class="flex w-full">
                <div class="sm:-mr-10 max-sm:w-[150px]">
                    <FranceIcon />
                </div>
                <div class="max-sm:w-[100px] flex gap-1">
                    <Image src={PhotoAgence} alt="Photo prise de l'agence" class="object-cover w-full h-full" />
                    <p class="self-end vertical-text text-xs">©2023JulieAlasset</p>
                </div>
            </div>
        </div>
        <div class="border h-[300px] border-black max-lg:hidden"></div>
        <div class="px-14 flex flex-col gap-6 max-w-[650px]">
            <div class="mb-9 flex gap-1">
                <Image
                    src={PhotoTelephone}
                    alt="Photo prise de Lucie au téléphone"
                    class="object-cover w-[150px] h-[250px]"
                />
                <p class="self-end vertical-text text-xs">©2023JulieAlasset</p>
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-larken text-3xl">travaillons ensemble, même à distance !</p>
                <p>JOLILOT ATELIER | AGENCE DE COMMUNICATION</p>
            </div>
            <div class="text-sm flex flex-col gap-6">
                <p>
                    Certains projets de communication peuvent <br />
                    être envisagés à distance chez Jolilot.
                </p>
                <p>
                    Si vous souhaitez connaître toutes les <br /> possibilités, n’hésitez pas à me joindre via le <br />
                    formulaire de contact
                </p>
            </div>
            <Button text="contacter l’agence" url="/contact#contact-form" variant="dark" />
        </div>
    </div>
</div>
