---
import FlecheIcon from './Icons/FlecheIcon.astro';
import OneService, { Service } from './subcomponents/OneService.astro';
import SubTitle from './subcomponents/SubTitle.astro';

export type Props = AgencyStepsProps;

export type AgencyStepsProps = {
  bgColor?: string;
  services: Service[];
  titleColor?: string;
};

const { bgColor, services, titleColor } = Astro.props;
---

<div
  class="bg-marron_fonce text-white pb-8 pt-16 flex flex-col gap-y-14"
  style={{
    backgroundColor: bgColor,
    color: titleColor,
  }}
>
  <SubTitle title="jolilot c’est aussi simple que ça !" />
  <div class="relative flex w-full flex-col items-center glide gap-y-8">
    <div class="w-full max-w-[1800px] px-4 md:px-20">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides px-3">
          {services.map((service) => <OneService {...service} />)}
        </ul>
      </div>
    </div>

    <div data-glide-el="controls" class="flex gap-4">
      <button data-glide-dir="<" class="rotate-180">
        <FlecheIcon />
      </button>
      <button data-glide-dir=">">
        <FlecheIcon />
      </button>
    </div>
  </div>
</div>

<style>
  .text-orange {
    color: #cc9f5c;
  }
</style>

<script type="module" async defer>
import Glide from 'https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.esm.js';

new Glide('.glide', {
  startAt: 0,
  perView: 4,
  type: 'carousel',
  gap: 30,
  breakpoints: {
    1280: {
      perView: 3,
    },
    1024: {
      perView: 2,
    },
    640: {
      perView: 1,
    },
  },
}).mount();
</script>

<script>
  const textOrange = document.querySelectorAll('#text-orange');

  //color first text in orange and then the others in white then after 1s, color the first in white and the second in orange and so on
  let i = 0;
  setInterval(() => {
    if (!textOrange[i]) return;
    textOrange[i].classList.remove('text-orange');
    i++;
    if (i === textOrange.length) {
      i = 0;
    }
    textOrange[i].classList.add('text-orange');
  }, 1000);
</script>
