---
import Submark from './Icons/Submark.astro';
export type Props = {
  variant: 'dark' | 'light';
  zone: 'top' | 'bottom';
};
const { variant = 'light', zone = 'top' } = Astro.props;
---

<div class="flex justify-center text-orange relative -my-3">
  {zone === 'top' && <div class="absolute h-12 bg-marron_fonce top-0 inset-0" />}
  <div class="flex justify-center items-center rounded-full bg-background z-10">
    <Submark />
  </div>
  {zone === 'bottom' && <div class="absolute h-12 bg-marron_fonce top-full inset-0 -translate-y-full" />}
</div>
<div
  class={`py-32 flex flex-col items-center font-larken gap-8 ${variant == 'dark' ? 'text-white bg-marron_fonce' : ''}`}
>
  <p class="text-3xl text-center"><span class="text-orange">+ 35 acteurs</span> accompagnés par Jolilot</p>
  <div class="text-center text-base flex flex-col gap-2">
    <p>
      <span id="text-orange">ARTISANS PEINTRES DÉCORATEURS</span> |
      <span id="text-orange">PHOTOGRAPHES</span> |
      <span id="text-orange">PRODUCTEURS</span> |
    </p>
    <p>
      <span id="text-orange">CHAUFFAGISTE ÉCOLOGIQUE</span> |
      <span id="text-orange">PARC ANIMALIER</span> |
      <span id="text-orange">MAISONS DE VACANCES</span>
    </p>
    <p>
      <span id="text-orange">RÉFLEXOLOGUES</span> |
      <span id="text-orange">ARTISTES PEINTRES</span> |
      <span id="text-orange">INFIRMIÈRES LIBÉRALES</span> |
      <span id="text-orange">ASSOCIATIONS</span>
    </p>
    <p>
      <span id="text-orange">MÉDICALES</span> |
      <span id="text-orange">COMMUNNES</span> |
      <span id="text-orange">ASSOCIATIONS DE LOISIRS</span> |
      <span id="text-orange">COMPAGNIES DE THÉÂTRE</span>
    </p>
    <p>
      <span id="text-orange">HÔTELS</span> |
      <span id="text-orange">RESTAURANTS</span> |
      <span id="text-orange">ESTHÉTICIENNES</span> |
      <span id="text-orange">BIEN-ÊTRE</span> |
      <span id="text-orange">COMMERÇANTS</span>
    </p>
    <p>...</p>
  </div>
</div>

<script is:inline>
setup();
function setup() {
  const textOrange = document.querySelectorAll('#text-orange');

  //color first text in orange and then the others in white then after 1s, color the first in white and the second in orange and so on
  let i = 0;
  setInterval(() => {
    textOrange[i].classList.remove('text-orange');
    i++;
    if (i === textOrange.length) {
      i = 0;
    }
    textOrange[i].classList.add('text-orange');
  }, 750);
}
</script>
