<div class={`py-40 flex flex-col items-center`}>
  <div class="flex flex-col gap-y-8 max-w-md">
    <div class="text-4xl text-center flex gap-2 flex-wrap font-larken">
      <p>une question,</p>
      <p>un projet ?</p>
    </div>
    <div class="flex flex-col gap-y-6">
      <p>Vous désirez obtenir un devis, fixer un rendez-vous ou tout simplement discuter d’un projet ?</p>
      <p>N’hésitez pas à compléter le formulaire dédié. L’Agence vous répondra en moins de 72 heures.</p>
      <p>Au plaisir d’échanger avec vous !</p>
    </div>
    <a
      href="/contact#contact-form"
      class="mt-2 w-fit border border-black/20 px-8 py-2 font-poppins text-xs text-black/60 transition ease-in-out bg-marron_fonce hover:border-orange hover:bg-orange text-white"
    >
      contacter jolilot
    </a>
  </div>
</div>
