---
import { Image } from 'astro:assets';
export type Props = {
  photos: {
    url?: string;
    image: ImageMetadata;
    alt: string;
  }[];
};
const { photos = [] } = Astro.props;
---

<div class="py-4 flex px-4 md:px-4 flex-col items-center">
  <div class="glide glidephotolist">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {
          photos.map((post) => (
            <li class="glide__slide">
              <Image src={post.image} alt={post.alt} class="object-cover hover:opacity-70" />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<script is:inline data-astro-rerun>
  new Glide('.glidephotolist', {
    startAt: 0,
    perView: 6,
    type: 'carousel',
    autoplay: 3000,
    gap: 17,
    breakpoints: {
      1024: {
        perView: 4,
      },
      640: {
        perView: 2,
      },
    },
  }).mount();
</script>
