---
import HalfMoonIcon from "@/components/icons/half-moon-icon.astro";
import LargeLogoIcon from "@/components/icons/large-logo-icon.astro";
const pathname = Astro.url.pathname;

// Définition des liens de navigation avec leurs pathname correspondants
const navLinks = [
  { href: "/test", label: "Services", match: "/test" },
  { href: "/a-propos", label: "À propos", match: "/a-propos" },
  { href: "/contact", label: "Contact", match: "/contact" },
];
---

<a
  href="/contact"
  class="flex justify-center items-center p-4 gap-2 bg-secondary text-foreground hover:underline rounded-b-lg cursor-pointer font-medium"
>
  <HalfMoonIcon size={6} />
  <p class="uppercase">Réserver un appel découverte avec Jolilot</p>
</a>

<div
  class="flex justify-center items-center py-10 bg-background container mx-auto border-b-1 border-foreground uppercase px-2"
>
  <LargeLogoIcon />
  <div class="flex-1 flex justify-center items-center gap-6">
    {
      navLinks.map((link) => (
        <a href={link.href} class="flex items-center gap-2">
          <div class="w-6 h-6 flex items-center justify-center">
            {pathname.startsWith(link.match) && <HalfMoonIcon size={6} />}
          </div>
          <span class="relative">
            {/* Texte invisible en semibold qui préserve l'espace */}
            <span class="invisible font-semibold">{link.label}</span>
            {/* Texte visible qui s'affiche par-dessus avec la graisse appropriée */}
            <span
              class={`absolute inset-0 ${pathname.startsWith(link.match) ? "font-semibold" : "font-normal"}`}
            >
              {link.label}
            </span>
          </span>
        </a>
      ))
    }
  </div>
  <a
    href="https://www.instagram.com/jolilotatelier/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Instagram"
    class="font-semibold text-accent hover:underline"
  >
    Projets
  </a>
</div>
