---
import BookAProject from './BookAProject.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';

export type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Je suis Lucie Arcoutel, graphiste indépendante spécialisée dans le print et le digital et fondatrice de Jolilot Atelier, une agence créative située à Alvignac dans le Lot. Avec une passion pour mon métier, je donne vie aux idées de mes clients à travers des outils de communication adaptés et entièrement personnalisés. Que vous ayez besoin de supports imprimés, de sites vitrines, d’identités de marque, de contenu digital ou de conseil et suivi, Jolilot Atelier est là pour vous accompagner. Contactez-moi pour en savoir plus sur les possibilités offertes par mon agence."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content="Jolilot Atelier" />
    <title>{title ? title + ' | Jolilot Atelier' : 'Jolilot Atelier'}</title>
  </head>
  <body class="flex flex-col bg-background font-extralight text-sm">
    <Header />
    <BookAProject />
    <slot />
    <Footer />
  </body>
  <style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /* @import url('https://use.typekit.net/oxc7dzr.css'); */

    @import url('https://use.typekit.net/kia8cjc.css');

    @font-face {
      font-family: 'Larken';
      font-display: swap;
    }

    :root {
      font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
      scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #aaa;
    }
  </style>
</html>
