---
import "../styles/global.css";
import "../styles/font.css";
import { ClientRouter } from "astro:transitions";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

export type Props = {
  title?: string;
};
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <ClientRouter />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Jolilot Atelier est une agence créative basée dans le Lot(46), en Occitanie. Spécialisée dans le graphisme et la communication print & digitale."
    />
    <meta
      name="keywords"
      content="supports imprimés, sites vitrines, identités de marque, contenu digital, Jolilot, Agence, créative, Jolilot Atelier, Lot, communication"
    />
    <title>
      {
        title
          ? `${title} | JOLILOT ATELIER`
          : "JOLILOT ATELIER | Agence de communication digitale & print"
      }
    </title>
  </head>
  <body class="flex flex-col">
    <Header />

    <slot />
    <Footer />
    <style is:global>
      .larken {
        font-family: "larken", sans-serif;
      }

      @font-face {
        font-family: "Larken";
        font-display: swap;
      }

      :root {
        font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial,
          sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
