<div id="scrolltotop" class={`fixed bottom-6 right-6 z-20 transition-all opacity-100 hidden`}>
  <button
    class="rounded-full border-current border p-3 transition-all hover:text-tertiary outline-black outline-1"
    onclick="
    window.scrollTo({ top: 0, behavior: 'smooth' });
    "
  >
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 256 256"
      enable-background="new 0 0 256 256"
      xml:space="preserve"
      width="20px"
      height="20px"
    >
      <g
        ><g
          ><g
            ><path
              fill="currentColor"
              d="M66.5,120.3c-44.1,44.1-56.1,56.4-56.4,58c-0.5,2.3,1,5.7,2.9,6.7c0.7,0.3,2.4,0.6,3.8,0.6c2.4,0,3.8-1.4,55.3-52.9L125,80l55.8,55.8c51.3,51.3,56,55.8,57.9,55.8c1.2,0,2.9-0.4,4-0.9c2.7-1.4,4.2-5.8,2.7-8.1c-0.3-0.5-26.9-27.3-59.2-59.5c-58.3-58.3-58.7-58.7-61.2-58.7C122.4,64.4,122.1,64.7,66.5,120.3z"
            ></path></g
          ></g
        ></g
      >
    </svg>
  </button>
</div>

<style>
  #scrolltotop {
    opacity: 1;
  }
  #scrolltotop.hidden {
    opacity: 0;
  }
</style>

<script>
  window.addEventListener('scroll', function () {
    const scroll = document.querySelector('#scrolltotop');
    if (!scroll) return;
    if (window.scrollY > 100) scroll.classList.remove('hidden');
    else scroll.classList.add('hidden');
  });
</script>
