<div id="scrolltotop" class={`fixed bottom-6 right-6 z-20 transition-all opacity-100 hidden`}>
  <button
    class="rounded-full border-current border p-3 transition-all hover:text-tertiary outline-black outline-1 hover:bg-orange"
    onclick="
    window.scrollTo({ top: 0, behavior: 'smooth' });
    "
  >
    <svg
      fill="currentColor"
      height="20px"
      width="20px"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 330 330"
      xml:space="preserve"
    >
      <path
        id="XMLID_224_"
        d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"
      ></path>
    </svg>
  </button>
</div>

<style>
  #scrolltotop {
    opacity: 1;
  }
  #scrolltotop.hidden {
    opacity: 0;
  }
</style>

<script>
  window.addEventListener('scroll', function () {
    const scroll = document.querySelector('#scrolltotop');
    if (!scroll) return;
    if (window.scrollY > 100) scroll.classList.remove('hidden');
    else scroll.classList.add('hidden');
  });
</script>
