---
import { Image } from 'astro:assets';
import LogoIcon from '../components/Icons/LogoIcon.astro';

import Insta1 from '@assets/P.FOOTER/Instagram Agence Jolilot-min.jpg';
import Insta2 from '@assets/P.FOOTER/Instagram Jolilot Atelier-min.jpg';
import Insta3 from '@assets/P.FOOTER/Instagram Jolilot-min.jpg';
import AFTCIcon from '../components/Icons/AFTCIcon.astro';
import FlecheIcon from '../components/Icons/FlecheIcon.astro';
const PostsInstagram = [
  {
    image: Insta1,
    url: 'https://www.instagram.com/p/Cw7Ty36s8wZ/',
  },
  {
    image: Insta2,
    url: 'https://www.instagram.com/jolilot.atelier/',
  },
  {
    image: Insta3,
    url: 'https://www.instagram.com/jolilot.atelier/',
  },
];
---

<div class="flex justify-center pt-20 pb-10">
  <div class="flex w-full max-w-7xl flex-col gap-7">
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 px-10 items-center">
      <div class="flex flex-col items-center text-center">
        <p class="font-larken text-3xl">suivre toute l'actualité jolilot</p>
        <p>@jolilot.atelier</p>
      </div>
      <div
        class="xl:col-span-2 max-w-xs sm:max-w-2xl place-self-center xl:place-self-end flex flex-col items-center glide glidef gap-y-8"
      >
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              {
                PostsInstagram.map((post) => (
                  <li class="glide__slide">
                    <a
                      rel="noreferrer"
                      class="hover:opacity-70"
                      href={post.url || ''}
                      target="_blank"
                      referrerpolicy="no-referrer"
                    >
                      <Image src={post.image} alt="Photo 1 instagram" class="object-cover aspect-square" />
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div data-glide-el="controls" class="xl:hidden flex gap-4">
          <button data-glide-dir="<" class="rotate-180" aria-label="Precedent">
            <FlecheIcon />
          </button>
          <button data-glide-dir=">" aria-label="Suivant">
            <FlecheIcon />
          </button>
        </div>
      </div>
    </div>
    <div
      class="text-center flex justify-evenly border-t border-black/90 pt-10 md:flex-row flex-col items-center gap-y-2"
    >
      <div class="flex gap-6 flex-wrap justify-center">
        <p>© 2023 Jolilot Atelier | Lucie Arcoutel</p>
        <p>
          <a href="/mentions-legales" class="hover:text-orange">Mentions légales</a> | <a
            href="/confidentialité"
            class="hover:text-orange">Politique de Confidentialité</a
          >
        </p>
      </div>
      <a href="/" aria-label="Retour a la page d'accueil" class="max-sm:order-3"><LogoIcon classes="w-[100px]" /></a>
      <div class="flex items-center gap-4 justify-center flex-wrap">
        <p>
          Cette année Jolilot soutient l’association <a
            href="https://aftc-lot.fr/"
            target="_blank"
            referrerpolicy="no-referrer">AFTC.LOT</a
          >
        </p>
        <a
          href="https://aftc-lot.fr/"
          target="_blank"
          referrerpolicy="no-referrer"
          aria-label="Lien vers le site de l'association AFTC.LOT"><AFTCIcon /></a
        >
      </div>
    </div>
  </div>
</div>

<script is:inline>
new Glide('.glidef', {
  perView: 3,
  type: 'carousel',
  gap: 30,
  breakpoints: {
    768: {
      perView: 2,
    },
    640: {
      perView: 1,
    },
  },
}).mount();
</script>
